.jobs-list {
  margin-left: $mobile-margin-left;
  margin-right: $mobile-margin-right;
  @include desktop {
    margin: 0;
  }
}

.favorite-job-list {
  width: 100%;
  .job-card {
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 1px  $color-beige;
  }
}
