.dropdown__content_inline-buttons {
  @media only screen and (min-width: $breakpoint-medium) {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 107px);
    -ms-grid-columns: 107px 107px 107px 107px;
    grid-gap: 10px;
    box-shadow: none;
    position: relative;
    cursor: default;
    margin-top: 0;
  }
}
