.dropdown__link_button {
  @media only screen and (min-width: $breakpoint-medium) {
    border: 1px solid $color-beige;
    border-radius: 4px;
    padding: 13px 0 15px 0;
    text-align: center;
    font-size: $font-size-normal;
  }
}
