.container
  .notification-page
    - if current_user.role?(:employer)
      = render "employer/shared/links",
        selected: "Notification"
    - else
      = render "shared/links"
      
    = render "form", user_profile: @user_profile
