.jobs-index__wrapper {
  @extend %clearfix;
  clear: both;
  h1 {
    font-size: 32px;
    color: $black;
    font-weight: $bold;
    margin-bottom: 80px;
  }

  .jobs-index__card-list {
    @extend %flex--horizontally-centered;
    ul {
      @include make-col(8);
      margin-left: 0;
    }
    li {
      margin-bottom: 46px;
    }
  }

  .secondary-heading {
    @include make-col-offset(2);
    font-size: 24px;
    margin-bottom: 42px;
  }

  .jobs-index__left-panel {
    margin-bottom: 25px;
  }

  .jobs-index__heading {
    padding: 0;
    margin-bottom: 70px;
    h2 {
      font-size: 24px;
    }
    a {
      float: right;
      margin: 0;
      width: 190px;
      height: 40px;
      color: $white;
      background-color: $royal;
      font-size: 14px;
      border-radius: 4px;
      border: solid 2px $royal;
      padding-top: 2px;
      &:hover {
        color: $royal;
        background-color: $white;
      }
    }
  }

  .jobs-index__sub-heading {
    font-size: 16px;
    text-align: center;
    color: $silver;
    margin-bottom: 47px;
  }

  .jobs-index__empty-image {
    margin-bottom: 47px;
  }
}
