.row.align-center
  / .columns.small-3
    / = render "employer/shared/links",
    /   selected: @view_component.selected
  .forms.small-9.columns#partial
    #edit-billing
      = render "billing_details",
        view_component: @view_component
