.page.favorite-jobs
  = render "application/account_sidebar/sidebar"
  %div.page__main
    .favorite-jobs__heading.hidden-mobile
      Saved job listings

    = react_component("FavoriteJobPage", { jobs: @jobs.as_json(methods: :job_types),
      favorites: @favorites })
