.admin-container.favorite-jobs
  .left-section
    = render "employer/shared/links",
        selected: "Saved projects"
  .right-section
    .favorite-jobs__heading.hidden-mobile
      Saved projects

    = react_component("FavoriteJobPage", { jobs: @jobs.as_json(methods: :job_types),
      favorites: @favorites })
