%a{ href:@current_user.social_media_profile.facebook, target: "_blank", class: "fa fa-facebook social-link" }
%a{ href:@current_user.social_media_profile.twitter, target: "_blank", class: "fa fa-twitter social-link" }
%a{ href:@current_user.social_media_profile.instagram, target: "_blank", class: "fa fa-instagram social-link" }