.social-link {
  border: 1px solid $color-beige;
  border-radius: 4px;
  width: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}
