.row
  .small-12.columns.wrapper
    .columns.small-3
      = render "shared/links"
    .forms.small-9.columns#partial
      .row#edit-user
        = render "edit_registration",
          resource: resource,
          minimum_password_length: @minimum_password_length
