:ruby
  options = [
    { name: "recruiter",
      path: unity.new_subscription_path,
      title: t("join_us.recruiter.title"),
      description: t("join_us.recruiter.description"),
      img: "job_board.png"
    },
    { name:'talent',
     path:'#',
     title: t("join_us.talent.title"),
     description: t("join_us.talent.description"),
     img: "get_matched.png"
    } ]

.join-us
  %h1.join-us__heading.h1--small.font-regular Select how you’d like to get started

  .join-us__content
    - options.each do |option|
      = render "choose_option", option: option
    = link_to "Apply as Talent", edit_user_profile_path, class: "join_us__btn"
