Hey #{user.first_name},

Your password on Skill Deploy has just been changed. If this was you, you're all set.
If not, please repply to contact us.


Thank you

The Skill Deploy Community Team
skilldeploy.com
@skilldeploy
