.profile-picture__uploader {
  height: 84px;
  margin-bottom: 50px;
  .profile-picture {
    border-radius: 50%;
    height: 84px;
    width: 84px;
  }
  .profile-picture__wrapper {
    height: inherit;
    margin-right: 30px;
  }
  .profile-picture__empty-wrapper {
    height: 84px;
    width: 84px;
    background: $iron;
    border-radius: 50%;
    .profile-picture__empty {
      width: 28px;
      height: 24px;
    }
  }
  .profile-picture__buttons-wrapper {
    height: 100%;
  }
  .profile-picture-upload-button,
  .profile-picture-delete-button {
    height: 50%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 2px;
    border: solid 2px $concrete;
    &:hover {
      background: $concrete;
      cursor: pointer;
      label {
        color: $regent-gray;
      }
    }
    label {
      width: 100%;
      text-align: center;
      font-size: 12px;
      padding: 10px 0 2px 0;
    }
  }
  .profile-picture__delete-button {
    margin-left: 15px;
  }
  .inputfile {
    cursor: inherit;
    font-size: 999px;
    filter: alpha(opacity=0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
}
