.forgot-password {
  margin: 152px var(--page-margin);
  @extend %flex-col--centered;

  @include desktop-up {
    margin-left: auto;
    margin-right: auto;
  }

  &__sub-heading {
    color: var(--greyish-color);
    font-size: 16px;
    font-weight: var(--font-medium);
    line-height: 25px;
  }
  form {
    width: 100%;

    @include tablet-up {
      width: 370px;
    }
  }

  &__header {
    margin-bottom: 68px;
  }

  &__actions {
    margin-top: 25px;
    width: 100%;

    @include desktop-up {
      width: 167px;
    }
  }

  &.-confirmation {
    h1 {
      max-width: 365px;
    }

    @include tablet-up {
      width: 436px;
    }
  }
}
