.page.profile
  = render "application/account_sidebar/sidebar"
  .page__main
    %div{ role: "alert", class: "alert -secondary" }
      %span.alert__content.text-left
        Thanks for applying! You’re profile is under review, we will be in touch soon via email.
      %button.close{ "data-dismiss": "alert", "aria-label": "Close" }
        %span{ "aria-hidden": true } &times
    .page__content.text-center
      = image_tag("message-sent.png",
      srcset: { "message-sent@2x.png" => "2x", "message-sent@3x.png" => "3x" })
      %div
        %span.label.-danger Under Review
