$color-active: #000000;

.rateRange {
  align-items: center;
  display: grid;
  grid-gap: 34px;
  grid-template-columns: auto;

  @include tablet-up {
    grid-template-columns: 315px 80px;
  }
}

.select {
  & .-invalid {
    background-color: red;
  }

  & > .error-message {
    background-color: red;
    display: block !important;
  }
}

.iconList {
  display: flex;
  gap: 4px;
}

.icon {
  background-image: url($dollar-icon);
  display: inline-block;
  height: 24px;
  width: 11.73px;
}

.iconActive {
  background-image: url(replace-svg-color($dollar-icon, $color-active));
}
