.job_preview
  .job-preview__header
    .job-preview__heading.hidden-desktop
      Listing preview

    %a.button.button_theme_black.job-preview__button{ href: "#" }
      Post listing

    .job-preview__heading.hidden-mobile
      Listing preview


    %a.button.button_theme_white.job-preview__button{ href: edit_employer_job_path(@job) }
      Edit listing
  .job-preview__content
    = render "jobs/job",
    job: @job,
    view_component: @view_component
