.dropdown.jobs-list__dropdown.jobs-list__types-dropdown
  .dropdown__button{ onclick: "toggleDropdown()" }
    = "All Creative Types"
  .dropdown__content
    = link_to "Manage listings",
      employer_jobs_path,
      class: "dropdown__link"

    = link_to "Your profile",
      edit_user_registration_path,
      class: "dropdown__link"

    = link_to "Billing details",
      edit_employer_billing_path,
      class: "dropdown__link"
