- link = jobs_path
= react_component("JobBoard", { roles: @roles, types: @types,
  link: link, jobs: @jobs, favorites: @favorites })
//------ Cards -------//
//.jobs-index__card-list#jobs-index
//  = render partial: "jobs",
//    locals: { jobs: @jobs, favorites: @favorites }
/= render "shared/screen_modal"
