.sub-header.hidden-mobile
  %a{ href: '/' }
    %span.button.button_theme_white.job__gig-button.job__preview-gig-button
      %i.fa.fa-arrow-left
      All gigs
= render "jobs/job",
    job: @job,
    view_component: @view_component
