.text-danger {
  color: var(--danger-color);
}

.text-bold {
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}