.job-card__details {
  @media only screen and (min-width: $breakpoint-medium) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: -4px;
  }

}
