.job {
  @media only screen and (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 400px 826px;
    grid-gap: 27px;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }
}
