.job__right-panel {
  @media only screen and (min-width: $breakpoint-medium) {
    border-radius: 6px;
    border-top: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 62px 60px 89px 60px;
  }
}
