.job__preview {
  @media only screen and (min-width: $breakpoint-medium) {
    height: 134px;
    background-color: $color-pale;
    padding-top: 82px;
    padding-left: 93px;
    min-width: 1300px;
  }
}
