.registration-page {
  margin-top: 58px;

  &__profile-form {
    margin-top: 50px;
  }

  &__form-field {
    margin-top: 30px;

    &--fourth {
      &:last-child {
        display: flex;
      }

      .current-role {
        width: 60%;
        max-width: 156px;
        margin-right: 10px;
        margin-top: 0;
      }
    }
  }

  &__heading {
    display: none;
  }

  &__work-experiences {
    margin-bottom: 30px;
    margin-top: 38px;
    &--inline {
      margin-bottom: 30px;
    }
  }

  &--link-section {
    &__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    & + .button {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &__notice {
    display: block;
    margin-top: 15px;
    color: $color-primary;
    font-weight: bold;
    font-size: $font-size-medium;
  }
}
