/* stylelint-disable declaration-no-important */

$color-default-icon: #e7e7e7;
$nav-height: 81px;
$color-black: #000000;
$color-white: #ffffff;
$color-beige: #d4d2ce;
$color-brown-grey: #9b9b9b;
$color-dark-grey: #222427;

:root {
  //colors
  --primary-color: #{$color-white};
  --secondary-color: #222427;
  --tertiary-color: #f4f4f4;
  --quaternary-color: #{$color-black};
  --primary-utility-color: #f7f7f7;
  --text-color: #757575;
  --danger-color: #fc520a;
  --greyish-color: #9d9c9b;
  --dark-grey-color: #7d7d7d;
  --light-grey-color: #{$color-default-icon};
  --border-color: #e6e6e6;
  --bg-color: #f6f6f6;
  --checkbox-border: #ededed;
  --beige-color: #{$color-beige};
  --secondary-bg-color: #e3e3e3;
  --brown-grey-color: #9b9b9b;
  // fonts

  --body-font-size: 14px;
  --body-font-size: 22px;
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-medium: 16px;
  --font-size-large: 22px;
  --font-size-xlarge: 24px;
  --font-size-xxlarge: 28px;


  //font-weights:
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  //sizes

  --logo-width: 85px;
  --logo-height: 35px;
  --sidebar-width: 338px;

  // spacing
  --page-margin: 24px;
  --page-margin--desktop: 112px;

  --container-width: 1040px;

  --border-radius: 4px;

  --nav-height: #{$nav-height};

  @include desktop-down {
    --nav-height: 57px;
    --logo-width: 54px;
    --logo-height: 27px;
  }
}

[hidden] {
  display: none !important;
}
//
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
  position: relative;
}

button {
  color: inherit;
}
