$color-default-icon: #e7e7e7;

:root {
  //colors
  --primary-color: #ffffff;
  --secondary-color: #222427;
  --tertiary-color: #f4f4f4;
  --quaternary-color: #000000;
  --primary-utility-color: #f7f7f7;
  --text-color: #757575;
  --danger-color: #fc520a;
  --greyish-color: #9d9c9b;
  --dark-grey-color: #7d7d7d;
  --light-grrey-color: #{$color-default-icon};
  --border-color: #e6e6e6;
  --bg-color: #f6f6f6;

  // fonts

  --body-font-size: 14px;
  --body-font-size: 22px;

  //font-weights:
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  //sizes

  --logo-width: 77px;
  --logo-height: 44px;

  // spacing
  --page-margin: 24px;
  --page-margin--desktop: 112px;

  --container-width: calc(1184px + var(--page-margin) * 2);

  --border-radius: 4px;
}
//
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
  position: relative;
}

button {
  color: inherit;
}
