//============================================================
//!  Breakpoints for Media Queries
//============================================================
$breakpoint-xsmall: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 736px;
$breakpoint-large: 1069px;
$breakpoint-larger: 1300px;
$breakpoint-xlarge: 1440px;
