body {
  color: $true-black;
  font-family: $main-font;
  font-size: 16px;
  font-weight: $regular;
  line-height: 26px;
  margin: 0;
}

%body--small {
  font-size: 14px;
  line-height: 16px;
}

%body--xsmall {
  font-size: 12px;
  line-height: 12px;
}

h1 {
  font-size: 32px;
  font-weight: regular;
  line-height: 38px;

  @include mq($breakpoint-large) {
    font-size: 52px;
    line-height: 62px;
  }
}

.h1--small {
  font-size: 28px;
  line-height: 34px;
}
