.hidden-mobile {
  display: none;
  @media only screen and (min-width: $breakpoint-medium) {
    display: block;
  }
}

.hidden-desktop {
  display: block;
  @media only screen and (min-width: $breakpoint-medium) {
    display: none;
  }
}
