.job-tags-list
  %ul
    - tags.limit(4).each do |tag|
      %li
        = link_to tag.name,
          jobs_path(tag_name: tag.name,
            job_type_name: params[:job_type_name],
            job_role_name: params[:job_role_name])
