- link = jobs_path(job_type_name: params[:job_type_name],
  job_role_name: params[:job_role_name])

.job-tags-list
  %ul
    - roles.each do |role|
      %li{ class: active_role_class(params, role) }
        = link_to role.name,
          jobs_path(job_type_name: params[:job_type_name],
            job_role_name: role_name(params, role)),
          remote: true
    - types.each do |type|
      %li{ class: active_type_class(params, type) }
        = link_to type.name,
          jobs_path(job_type_name: type_name(params, type),
            job_role_name: params[:job_role_name]),
          remote: true
