Hey #{user.first_name},

It is with great pleasure that we officially welcome you to join the Skill Deploy Talent Network!
After reviewing your profile, it was a no-brainer for us.

You can now sign in to your account and start applying for your favorite jobs.

And, to make the sweetness even sweeter, just a reminder that we only accept 1 in every 100 applicants.
So feel good about yourself today :)

Any questions? Reach out to the Skill Deploy team through your account or on Slack (look
out for the invite in your inbox.)

= link_to, "Sign in to your account", new_user_session_url

The Skill Deploy Community Team
skilldeploy.com
@skilldeploy
