.jobs-list {
  &__container {
    margin: 10px auto 79px auto;

    @include desktop-down {
      margin: 17px auto 79px auto;
    }
  }
}

.jobs-list__filters-container {
  display: grid;
  display: -ms-grid;

  -ms-grid-columns: 187px 33px 197px 1fr;
  -ms-grid-rows: 79px;
  grid-template-columns: 187px 33px 197px 1fr;
  grid-template-rows: 79px;

  grid-gap: 10px;
  grid-row-gap: 0px;
  -ms-grid-gap: 10px;
  -ms-grid-row-gap: 0px;

  margin-left: auto;
  margin-right: auto;

  align-items: center;
  padding: 0;

  background: $color-white;
  padding: 0 18px 0 18px;
  border-radius: 10px;

  @include desktop-down {
    -ms-grid-columns: 197px 1fr;
    -ms-grid-rows: 79px 1px 79px;
    grid-template-columns: 197px 1fr;
    grid-template-rows: 79px 1px 79px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

.jobs-list__filters-separator-container {
  display: block;
  @include desktop-down {
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-column-start: 1;
    -ms-grid-column-end: 3;
  }
}

.jobs-list__filters-separator {
  height: 39px;
  width: 1px;
  background: $color-concrete;
  margin: auto;
  @include desktop-down {
    width: 100%;
    height: 1px;
  }
}
