.nav {
  .signed-out {
    @extend %flex-row-9;
  }

  .signed-out__have-account,
  .signed-out__no-account {
    @extend %flex--vertically-centered;
    margin-left: auto;
  }

  .signed-out-text {
    padding-top: 15px;
    a {
      color: $black;
      font-weight: $bold;
      text-decoration: none;
    }
  }
}
