.text-area {
  border: none;
  border-radius: 3px;
  font-size: $font-size-normal;
  padding: 32px 20px 19px 22px;
  margin-top: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $color-concrete;
  height: 240px;
  width: 100%;
  color: #000000;
  font-family: $font-primary;
}

textarea:not([resize="true"]) {
  resize: none !important;
}
