.favorite-jobs {
  display: flex;
  flex-direction: column;
  margin-left: $mobile-margin-left;
  margin-right: $mobile-margin-right;
  margin-top: 27px;

  @include desktop {
    margin-top: 58px;
    margin-left: 191px;
    margin-right: 190px;
    flex-direction: row;
  }

  &__heading {
    font-size: $font-size-large;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #444444;
    margin-bottom: 67px;
  }

  .right-section {
    flex: 1;

    margin-top: 40px;

    @include desktop {
      margin-left: 90px;
      margin-top: 0;
    }
  }
}
