.job__company-name {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $color-tundora;
  font-family: $font-primary;
  margin-bottom: 33px;
}
