.job__description-header {
  border-top: 1px solid $color-light-grey;
  font-size: $font-size-normal;
  color: $color-tundora;
  font-weight: $font-weight-bold;
  font-style: normal;
  font-stretch: normal;
  font-family: $font-primary;
  line-height: 1.57;
  letter-spacing: normal;
  padding-top: 29px;
  margin-bottom: 20px;
}
