.job__description {
  font-family: $font-primary;
  font-size: $font-size-normal;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $color-brown-grey;
  margin-bottom: 59px;
}
