.dropdown__link {
  display: block;
  height: 36;
  padding: 10px 0 10px 27px;
  background-color: $color-white;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  font-style: normal;
  font-stretch: normal;
  color: $color-dark-grey;
  text-decoration: none;

  &:hover {
    background-color: $color-concrete;
  }
}
