%section.section.profile__form__experience-section
  %h1.h1--small Work experience
  = react_component("ProfileWorkExperienceForm", { formName: "user[work_experiences_attributes]",
    initialWorkExperiences: current_user&.work_experiences } )
