-# haml-lint:disable all
.profile-page__work-expirience
    %h4.profile-page__heading
        Work Experience
%ul.profile-page__work-expirience__list
    - current_user.work_experiences.order(:end).each do |work|
        %li.profile-page__work-expirience__list__item
        %strong
            = work.title
            at
            = work.company
            %span
            = work.start&.strftime("%B %Y")
            %span -
            = work.current_role? ? "Current" : work.end&.strftime("%B %Y")
