.page.profile
  = render "employer/shared/sidebar",
    selected: "Your profile"
  %div.page__main
    -if current_user.talent?
      %div{ role:"alert", class:"alert -danger" }
        %span.alert__content You’ll need to submit your profile for review before applying for jobs.
        %button{"data-dismiss":"alert", "aria-label":"Close", class:"close" }
          %span{"aria-hidden":true} &times

    .page__content
      %h1.h1--small Your profile
      = render "form", action: :put
