.page.profile
  = render "application/account_sidebar/sidebar"
  %div.page__main
    = render("application/form_errors", object: current_user)
    -if current_user.has_talent_role? & current_user.user_profile.pending?
      %div{ role:"alert", class:"alert -danger" }
  
        %span.alert__content You’ll need to submit your profile for review before applying for jobs.
        %button{"data-dismiss":"alert", "aria-label":"Close", class:"close" }
          %span{"aria-hidden":true} &times

    .page__content
      %h1.h1--small Your profile
      = render "form", action: :put
