- @title = "Profile"
.page.profile
  = render "application/account_sidebar/sidebar"
  %div.page__main
    = render "application/flash_messages", type: :page_message
    = render("application/form_errors", object: current_user)

    .page__content
      %h1.h1--small Your profile
      = render "form", action: :put
