.page.profile
  = render "application/account_sidebar/sidebar"
  .page__main
    - if talent?
      %div{ role: "alert", class: "alert -danger" }
        %span.alert__content You’ll need to submit your profile for review before applying for jobs.
        %button.close{ "data-dismiss": "alert", "aria-label": "Close" }
          %span{ "aria-hidden": true } &times

    .page__content
      %h1.h1--small Your profile
      = render "form", action: :put
