.container
  .registrations-edit
    = render 'employer/shared/links',
      selected: 'Your profile'
    .registration-page__content
      %h1{ :class => "registration-page__heading" }= "Your profile"
      = render "form", action: :put
