
.page.profile
  = render "application/account_sidebar/sidebar"
  %div.page__main
    = render "application/banner_messages"
    = render("application/form_errors", object: current_user)

    .page__content
      %h1.h1--small Create your profile
      = render "form", action: :post
