
- is_selected = current_page?(main_app.edit_user_profile_path)
- is_new_profile = current_page?(new_user_profile_path)
%h4.sidebar__nav__heading My Account
%ul.sidebar__nav__menu
  %li{ class: "sidebar__nav__menu__item #{'-selected' if is_selected or is_new_profile}" }
    = link_to "Profile",
      is_new_profile ? main_app.new_user_profile_path : main_app.edit_user_profile_path,
      class: "sidebar__nav__menu__item__link"
    - if current_user.employer_only?
      %span.label.-danger Apply
    - if !is_new_profile
      %li.sidebar__nav__menu__item
        = link_to "Account settings",
        main_app.edit_user_registration_path,
        class: "sidebar__nav__menu__item__link"
