
- is_selected = current_page?(main_app.edit_user_profile_path)
%h4.sidebar__nav__heading My Account
%ul.sidebar__nav__menu
  %li{ class: "sidebar__nav__menu__item #{'-selected' if is_selected}" }
    = link_to "Profile",
      main_app.edit_user_profile_path,
      class: "sidebar__nav__menu__item__link"
    - if current_user.talent?
      %span.label.-danger Apply
    %li.sidebar__nav__menu__item
      = link_to "Account settings",
      main_app.edit_user_registration_path,
      class: "sidebar__nav__menu__item__link"