%aside.sidebar.hide-tablet-down
  %nav.sidebar__nav
    = render "application/account_sidebar/my_account_menu"
    = render "application/account_sidebar/listing_menu"
    - if !talent?
      = render "application/account_sidebar/subscription_menu"

