= form_for(job,
  url: employer_jobs_path(job),
  html: { id: 'stripe-payment-form',
  'data-validate': 'data-validate',
  'no-validate': 'no-validate' }) do |f|
  
  = render 'form_errors', object:f.object
  = render 'project_details', f: f, job: job
  
  .create-listing-page__submit-buttons
    = f.submit 'Preview Listing',
      class: 'button button_theme_primary create-listing-page__button'

    %a{ href: '#' }
      %button.button.button_theme_white.create-listing-page__button
        Save for later
