-# haml-lint: disable all
= form_for(job,
  url: employer_jobs_path(job),
  html: { id: "new-listing-form", "no-validate": "no-validate", multipart: true ,  data: { "form-validator-trigger": true } }) do |f|

  = render "project_details", f: f, job: job


  .listing-form__actions
    = f.button "Preview Listing",
      name: "job[status]",
      type: "submit",
      value: "preview",
      class: "button"

    = f.button "Save for Later",
      class: "button -outline-dark",
      data: { "form-skip-validate-required": true },
      name: "job[status]",
      type: "submit",
      value: "draft"
