-# haml-lint: disable all
= form_for(job,
  url: employer_jobs_path(job),
  html: { id: "new-listing-form", "no-validate": "no-validate", multipart: true ,  data:{ "form-validator-trigger": true } }) do |f|

  = render "project_details", f: f, job: job


  .listing-form__actions
    = f.submit "Preview Listing", class: "button"
    %button.button.-outline-dark Save for later
