= form_for(job, url: employer_jobs_path(job)) do |f|
  = render "project_details", f: f

  .secondary-heading
    Contact Details

  = render "contact_details", f: f

  .small-12.medium-3.columns.submit-field.last
    = f.submit "Start a project"
