- image_class = resource.thumbnail.present? ? "-present" : "-empty"
%div{class: "job-card__image #{image_class}"}
  - if resource.thumbnail.present?
    = image_tag resource.thumbnail.file_url(:small)