.jobs-index__wrapper
  - if jobs.empty?
    .align-center.align-vertical.row
      .small-12.medium-9.columns
        %h1.empty-heading Job Postings

        .sub-heading
          Looks like you haven't posted any jobs yet.

        .forms
          .submit-field
            = form_tag new_employer_job_path, method: :get do
              = submit_tag "Post a Job"

  - else
    .row
      .jobs-index__heading.small-12.columns
        .small-6.columns
          %h2 Active Projects
        .small-6.columns
          = link_to "Start a project", new_employer_job_path
    //------ Cards -------//
    .jobs-index__card-list
      %ul.small-block-grid-1
        - jobs.each do |job|
          %li
            - cache job do
              = render partial: "job",
                locals: { job: job }

