.employer-job-card
  = render "image", resource: job
  .employer-job-card__titles
    .header.employer-job-card__header= job.name
    .employer-job-card__company-name= job.company_name

  .employer-job-card__button-list
    %a{ href: edit_employer_job_path(job.id) }
      %button.button.button_theme_white.employer-job-card__button
        Edit

    %a{ href: "#" }
      %button.button.button_theme_white.employer-job-card__button
        Delete
