.jobs-index__wrapper
  - if jobs.empty?
    .align-center.align-vertical.row
      .jobs-index__empty-image
        = image_tag("empty_state_graphic")
      .small-12.medium-9.columns
        .jobs-index__sub-heading
          Looks like you don"t have any live projects yet.
          Gather your project details and start your project.

  - else
    //------ Cards -------//
    %ul
      - jobs.each do |job|
        - cache job do
          = render partial: "job",
            locals: { job: job }

