.align-center.forms
  .column.small-12.medium-7
    %h1 Start a project

    .login-text
      Listings are subscription-based and are active until you've filled the position.
      Every 30 days you will be charged $199 and your listing will be moved back to
      the top and tagged as new.

    .secondary-heading
      Project Details

    = render "edit_form", job: @job
