.listing-page__message-bar
  = render "application/flash_messages", type: :page_message
  = render "form_errors", object: @job

.container.listing-page
  %h1.hidden-mobile Create a new listing

  = render "create_form", job: @job, token: @token
