- plan = Unity::SubscriptionPlan.find_by(gateway_id: SubscriptionPlan::UNLIMITED)

.card.-primary
  .card__header
  %p.text.-link= plan.name
  .card__body
    $#{plan.price}/month
  .card__footer
  %p.text.-muted.fw-regular= plan.description


