-# haml-lint:disable all
%section.details.hidden-mobile
    %h1.details__heading  Hiring qualified creatives has never been easier.
    %h2.details__sub-heading No more sitting through interviews and wondering if the candidate you are interviewing can do the job or would even be a good culture fit. We do all the heavy lifting for you. 

    %ul.details__list
        %li.details__list__item 
            %div
                %h4 Get a short list of creatives
                %span Every creative that applies has gone through an extensive interview process.
        
        %li.details__list__item
            %div
                %h4 Compare candidates
                %span Review their profiles, prices, and reviews to make the best choice.
        
        %li.details__list__item 
            %div
                %h4 Hire your favorite
                %span Quickly pick your favorite creative and get your project underway.
