
%section.subscription__details
    %h1.subscription__details__heading.h1--small Quickly connect with our highly vetted team.
    %p.subscription__details__description
        Posting a listing on the job board gives you access to our team of highly vetted creative and technical professionals. We have spent a lot of time with everyone on our team and only recommend people we have previously worked with. 

    %ul.subscription__details__list
        %li.subscription__details__list__item
            %div.subscription__details__list__item__content
                %h4.subscription__details__list__item__heading Post your listing
                %p.subscription__details__list__item__description Quickly and easily post your listing and get access to hundreds of creative and technical professionals.
        
        %li.subscription__details__list__item
            %div.subscription__details__list__item__content
                %h4.subscription__details__list__item__heading Chat with your favorite candidates
                %p.subscription__details__list__item__description Resond only to your favorite candidates and get to know them better. 
        
        %li.subscription__details__list__item
            %div.subscription__details__list__item__content
                %h4.subscription__details__list__item__heading Hire the candidate that fits your needs
                %p.subscription__details__list__item__description Trust that you get highly vetted talent selections every time.
