.job-listing {
  .subscription__paymemnt__form {
    margin-top: 0;
  }
  .subscription__details__list {
    padding-left: 0;
  }

  .StripeElement {
    border: 1px solid var(--quaternary-color);
  }
}

.job-listing__content {
  display: flex;
  flex-direction: column;
  @include desktop-up {
    display: grid;
    grid-gap: 102px;
    grid-template-columns: 387px 370px;
    justify-content: space-between;
    padding-left: 59px;
    padding-right: 51px;
  }
}
.job-listing__heading {
  margin-bottom: 40px;
}
.job-listing__divider {
  height: 1px;
  margin-bottom: 29px;
  margin-top: 44px;
}
