.employer-jobs-list {
  @media only screen and (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 216px max-content;
    align-items: start;
    margin-left: 191px;
    margin-top: 57px;
  }
}
