%base--field {
  background-color: var(--tertiary-color);
  border: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--text-color);
  font-weight: var(--font-medium);
  padding: 0 20px;
  width: 100%;

  &:focus {
    border: 1px solid var(--quaternary-color);
    outline: none;
  }

  .-invalid & {
    border: 1px solid var(--danger-color);
  }
}

.error-message {
  color: var(--danger-color);
  display: none;
  font-weight: var(--font-medium);
}

.form {
}

.form--field {
  &.-invalid {
    .error-message {
      display: block;
    }

    .form--label {
      color: var(--danger-color);
    }
  }

  &.-editor {
    display: flex;
    flex-direction: column;

    .error-message {
      order: 3;
    }

    li {
      list-style-position: inside;
    }
  }
}

.form--label {
  color: var(--greyish-color);
  display: inline-block;
  font-size: 10px;
  font-style: normal;
  font-weight: var(--font-medium);
  line-height: 22px;
  margin-bottom: 3px;

  @include desktop-up {
    font-size: 12px;
    line-height: 25px;
  }

  &.-black {
    color: var(--quaternary-color);
  }

  &.-required {
    &::after {
      content: "*";
    }
  }
}

.form--input {
  @extend %base--field;
  height: 46px;
  font-size: 13px;
  font-weight: 400;
  color: #000;

  &.-text-black {
    color: var(--quaternary-color);
  }
}

.form--textbox {
  @extend %base--field;
  height: 240px;
  overflow-x: hidden;
  padding: 20px;
  font-size: 13px;
}

.form--radio-button {
  label {
    background: var(--primary-color);
    border: 1px solid var(--light-grey-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: var(--font-medium);
    line-height: 44px;
    min-width: 112px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
  }

  input:checked ~ label {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
  }

  input {
    display: none;
  }

  &.-invalid {
    display: flex;
    flex-direction: column-reverse;

    .error-message {
      // display: block;
    }
  }
}

.form--radio-list {
  position: relative;
  &.-invalid {
    & > .-invalid {
      &:first-of-type {
        .error-message {
          display: block;
          position: absolute;
          top: 100%;
        }
      }
    }
  }
}

.form--radio-button-list {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  margin-top: 5px;

  .form--radio-button {
    width: 100%;
    @include desktop-up {
      width: auto;
    }
  }
}
