.nav {
  --spacing-left: 24px;
  --spacing-right: 0;

  @include desktop-up {
    --spacing-left: 92px;
    --spacing-right: 100px;
  }

  @extend %flex--vertically-centered;
  @extend %flex-row-space-between;
  border-bottom: 1px solid var(--border-color);
  height: 81px;
  padding: 13px var(--spacing-right) 13px var(--spacing-left);
  @include desktop-up {
    padding: 13px var(--spacing-right) 23px var(--spacing-left);
  }
}
