.sidebar {
  --spacing-left: 93px;
  background-color: var(--sidenav-bg-color);
  padding-top: 57px;
  width: var(--sidebar-width);

  @include desktop-down {
    background-color: var(--primary-color);
    width: 100%;
    --spacing-left: 23px;
    &.active {
      display: block !important;
    }
  }

  &__nav {
    &__upgrade {
      margin-left: 10px;
    }

    &__heading {
      border-bottom: 1px solid var(--tertiary-color);
      color: var(--dark-grey-color);
      font-size: 8px;
      font-weight: var(--font-medium);
      letter-spacing: 1px;
      line-height: 10px;
      padding-bottom: 9px;
      padding-left: var(--spacing-left);
      text-transform: uppercase;
    }

    &__divider {
      background-color: var(--tertiary-color);
      border: none;
      height: 1px;
      margin-top: 9px;
    }

    &__menu {
      margin-bottom: 75px;

      &__item {
        margin-bottom: 17px;
        padding: 12px 0 12px var(--spacing-left);

        &:hover,
        &.-selected {
          background-color: var(--bg-color);
          border-right: 3px solid var(--quaternary-color);
          transition: all ease 0.4s;

          a {
            color: var(--quaternary-color);
          }
        }

        &__link {
          color: var(--dark-grey-color);
          font-size: 15px;
          font-weight: var(--font-medium);

          ~ .label {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
