@import 'variables_and_mixins'
@import 'fonts'

.jobs-index__wrapper
  h1
    font-size: 32px
    color: $black
    font-weight: bold
    margin-bottom: 80px

  .jobs-index__sub-heading
    font-size: 16px
    text-align: center
    color: $silver
    margin-bottom: 47px

  .jobs-index__empty-image
    margin-bottom: 47px
