@import "variables_and_mixins"
@import "fonts"

#nav
  height: 59px
  padding: 0
  border-bottom: solid 4px $alabaster
  background: $white
  margin-bottom: 40px

  //signed out p tag
  p
    font-size: 14px
    color: $regent-gray
    padding-top: 20px

    a
      color: $azure

  .brand-container
    border-right: solid 4px $alabaster
    height: 59px
    padding-right: 29px
    padding-top: 8px

  #search-submit
    display: none

  .icons
    padding-top: 10px

  .search-icon
    position: absolute
    top: 10px
    left: 24px
    font-size: 25px
    font-weight: 600
    color: $silver
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)

  #search-form
    padding: 0
    border-bottom: solid 4px $alabaster
    background-color: $white
    height: 59px

  .search-field
    border-right: solid 4px $alabaster
    position: relative

  #search
    height: 55px
    margin: 0
    padding: 0
    padding-left: 50px
    border: none
    box-shadow: none

  .menu
    height: 50px
    a
      font-size: 14px
      font-style: normal
      text-align: left
      color: $black
      height: 50px
      padding-top: 15px

    .active-link
      color: $royal


  .signed-out-text
    padding-top: 15px
    font-size: 16px
    font-style: normal
    color: $black
    a
      color: $black
      font-style: normal
      font-weight: bold
      text-decoration: none


  h1
    padding-top: 20px

  input[type="text"]::-webkit-input-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="text"]:-moz-placeholder
    font-size: 16px
    text-align: left
    color: $loblolly
    padding-left: 20px
