.nav {
  @extend %flex-row-12;
  height: 59px;
  padding: 0;
  border-bottom: solid 4px $alabaster;
  background: $white;
  margin-bottom: 40px;

  //signed out p tag
  p {
    font-size: 14px;
    color: $eighty-grey;
    padding-top: 20px;

    a {
      color: $azure;
    }
  }

  .brand-container {
    @extend %flex-row-2;
    border-right: solid 4px $alabaster;
    height: 55px;
    padding-right: 29px;
    padding-top: 8px;
    a {
      text-align: right;
      margin-left: auto;
    }
  }

  .icons {
    padding-top: 10px;
  }

  .menu {
    height: 50px;
    a {
      font-size: 14px;
      font-style: normal;
      text-align: left;
      color: $black;
      height: 50px;
      padding-top: 15px;
    }

    .active-link {
      color: $royal;
    }
  }

  h1 {
    padding-top: 20px;
  }

  input[type="text"]::-webkit-input-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="text"]:-moz-placeholder {
    font-size: 16px;
    text-align: left;
    color: $loblolly;
    padding-left: 20px;
  }
}
