.nav {
  .search-form {
    @extend %flex-row-6;
    padding: 0;
    border-bottom: solid 4px $alabaster;
    background-color: $white;
    height: 59px;

    form {
      width: 100%;
    }

    #search {
      height: 59px;
      margin: 0;
      padding: 0;
      padding-left: 50px;
      border: none;
      box-shadow: none;
      &:placeholder {
        font-size: 14px;
        color: $ten-grey;
      }
    }

    #search-submit {
      display: none;
    }

    .search-field {
      border-right: solid 4px $alabaster;
      position: relative;
    }

    .search-icon {
      position: absolute;
      top: 15px;
      left: 24px;
      font-size: 25px;
      font-weight: 600;
      color: $silver;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
}
