.page-heading {
  display: none;
  height: 30px;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: $color-tundora;

  @include desktop {
    display: block;
  }
}

.heading {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;

  &--xlarge {
    font-size: $font-size-xlarge;
    font-weight: 600;
    height: 32px;
  }

  &--color-grey {
    color: $color-dark-grey;
  }
}

.sub-header {
  background: $color-pale;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 21px;
  min-height: 134px;
}

.secondary-heading {
  height: 32px;

  font-size: $font-size-xlarge;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $color-dark-grey;
}

.close-icon {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &::before,
  &:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 24px;
    width: 2px;
    top: 0;
    background-color: $color-tundora;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
