@import "base/breakpoints";
@import "dimensions";
@import "base/mixins";

body {
  font-family: "Noto Sans", sans-serif;
}

.buttons-group {
  display: grid;
  grid-gap: 15px;
}

.text-center {
  text-align: center;
}

.admin-container {
  margin-top: 28px;
  max-width: 100%;
  @include tablet {
    margin-left: $mobile-margin-left !important;
    margin-right: $mobile-margin-right !important;
  }

  @include desktop {
    align-items: start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 90px;
    grid-template-columns: max-content 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    max-width: 1060px;
  }
}
