.list {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-x: auto;

  @include tablet-up {
    max-height: 450px;
  }
}

.applier {
  align-items: center;
  display: flex;
  gap: 18px;
  padding: 14px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
  }
}

.name {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  text-transform: capitalize;
}

.avatar {
  border: none;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.modal {
  background-color: var(--primary-color);
  border-radius: 12px 12px 0 0;
  bottom: 0;
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.04);
  left: 0;
  margin: auto;
  max-width: 673px;
  min-height: 400px;
  position: absolute;
  right: 0;
  top: 125px;

  @include tablet-up {
    border-radius: 12px;
    bottom: initial;
  }

  &:focus {
    outline: none;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.header {
  @extend %flex--vertically-centered;
  flex-direction: row-reverse;
  margin-bottom: 0;
  padding: 14px 14px 0;
  @include tablet-up {
    margin-bottom: 17px;
    padding: 30px 30px 0;
  }
}

.title {
  font-size: 28px;
  font-weight: var(--font-regular);
  line-height: 34px;
  margin-bottom: 35px;
  @include tablet-up {
    margin-bottom: 53px;
  }
}

.body {
  padding: 0 27px;
  @include tablet-up {
    padding: 0 71px;
  }
}

.close {
  height: 32px;
  width: 32px;
  @include tablet-up {
    height: 46px;
    width: 46px;
  }
}
