%blockquote
  %br
  %p.legal__text
    Adapted from the
    %a{:href => "https://github.com/basecamp/policies"} Basecamp open-source policies
    \/
    %a{:href => "https://creativecommons.org/licenses/by/4.0/", :rel => "nofollow"} CC BY 4.0