%main.legal
  %h1.legal__title
    Refund Policy
  .legal_container
    .legal_content
      .legal_intro

        When you cancel, you will have full access to our services through the end of the billing period.

      %h2.legal__content-title
        Examples of partial refunds or credits we’d grant.

        %h2.legal__content-title
          %ul
            %li
              If you upgraded your account a few months ago to a higher plan and kept using it in general but you didn’t end up using the extra features, projects, or storage space, we’d consider applying a prorated credit towards future months.
            %li
              If we had extended downtime (multiple hours in a day, or multiple days in a month) or you emailed customer service and it took multiple days to get back to you, we’d issue a partial credit to your account.

      %h2.legal__content-title
        Get in touch

      %p.legal__text
        At the end of the day, nearly everything on the edges comes down to a case-by-case basis. #{ link_to "Send us a note, "https://www.framework.fm/#Contact" }, tell us what's up, and we'll work with you to make sure you’re happy.

        This policy applies to any product created and owned by Framework, Inc.

      = render "attribution"