.job-card__types {
  @include desktop {
    display: grid;
    display: -ms-grid;

    grid-template-columns: repeat(4, auto);
    -ms-grid-columns: auto auto auto auto;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-gap: 10px;
  }

  & > .button {
    line-height: 28px;
    height: 28px;
    padding: 0px 15px;
    white-space: nowrap;
    background: #F6F6F6;
    color: black;
  }
}
