//colors
$alabaster: #fafafa;
$azure: #0d77f8;
$black: #181818;
$blue: #00b7d7;
$concrete: #f3f3f3;
$dark-grey: #282828;
$dark-white: #f8f8f8;
$eighty-grey: #5c5c5c;
$facebook-color: #39579b;
$fifty-grey: #999999;
$five-grey: #f3f3f3;
$green: #1fcc60;
$iron: #e2e3e4;
$loblolly: #bcc5ce;
$peachy-pink: #ff8987;
$pinterest-color: #cb2027;
$orange: #f9b500;
$pomegranite: #f95225;
$red: #ff5353;
$regent-gray: #8d9ba3;
$royal: #1e1695;
$silver: #cacaca;
$ten-grey: #e5e5e5;
$thirty-grey: #b2b2b2;
$true-black: #000000;
$twitter-color: #01abf0;
$white: #ffffff;
