.info-icon {
  background: black;
  border-radius: 50%;
  border: 2px solid black;
  color: white;
  display: inline-block;
  height: 20px;
  margin-bottom: 5px;
  padding-bottom: 6px;
  text-align: center;
  width: 18px;
}
