.profile-settings {
  &__sub-heading {
    font-size: 22px;
    line-height: 30px;
    margin-top: 119px;
  }

  &__content {
    width: 335px;

    @include desktop-down {
      width: 100%;
    }
  }

  &__form {
    margin-top: 43px;

    & > .form--field {
      margin-bottom: 34px;
    }

    &__change-password {
      --button-font-size: 12px;

      @include desktop-up {
        --button-font-size: 14px;
      }

      text-align: left;
      line-height: 30px;
      padding: 0;
      color: var(--danger-color);
      cursor: pointer;
      font-family: "neue-haas-grotesk-text", sans-serif;
      font-size: var(--button-font-size);
      font-weight: var(--font-medium);
    }

    &__submit {
      line-height: 30px !important;
      width: 172px;
      padding: 0 !important;
      text-align: left;
    }
  }
}

.profile-settings__notification-form {
  margin-top: 35px;

  .form--field {
    margin-bottom: 30px;
  }
}

.profile-settings__close-account {
  margin-top: 117px;
  width: 172px;

  @include desktop-down {
    width: 100%;
  }
}
