.form__centered {
  @extend %flex-col--centered;
}

.form__description {
  color: $fifty-grey;
  line-height: 1.56;
  margin-top: 15px;
  text-align: center;
}

.form__fields {
  padding: 32px 0;

  .form__centered & {
    width: 100%;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .form--centered & {
    width: 100%;
  }
}

.form__double-field {
  display: flex;
  margin-bottom: 20px;
}

.form__half-field {
  margin-right: 5px;
  width: calc(50% - 5px);

  & + & {
    margin-left: 5px;
    margin-right: 0;
  }
}

.form__input {
  border: 1px solid $ten-grey;
  border-radius: 3px;
  height: 42px;
  padding: 0 15px;
  width: inherit;
}

.form__label {
  align-content: flex-end;
  color: $eighty-grey;
  display: flex;
  font-size: 12px;
  margin-bottom: 10px;
}

.form__secondary-heading {
  font-size: 24px;
}
