.registration {
  @extend %clearfix;
  @extend %flex-col--centered;
  min-height: calc(100vh - 70px);
  position: relative;

  .form__description {
    max-width: 100%;
    @include mq($breakpoint-small) {
      max-width: 70%;
    }

    @include mq($breakpoint-medium) {
      max-width: 50%;
    }

    @include mq($breakpoint-large) {
      max-width: 30%;
    }
  }
  .form__secondary-heading {
    text-align: center;
  }
}

.registration__content {
  width: 100%;

  @include mq($breakpoint-medium) {
    width: 30%;
  }

  .button {
    width: 100%;
  }
}

.registration__oauth {
  @extend %flex--vertically-centered;
  @extend %flex--horizontally-centered;
  background-color: $dark-white;
  border: 1px solid $five-grey;
  margin-bottom: 20px;
  margin-top: 72px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  color: $eighty-grey;
}

.registration__or {
  color: $fifty-grey;
  max-width: 100%;
  text-align: center;
}
