.alert {
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  display: flex;
  font-size: 13px;
  font-weight: var(--font-medium);
  line-height: 16px;
  padding: 27px;
  text-align: center;

  &__content {
    width: 100%;
  }

  &__list {
    li {
      line-height: 25px;
    }
  }

  &.-danger {
    background-color: var(--danger-color);
  }

  & > .close {
    border: 2px solid #ffffff40;
    border-radius: 100%;
    height: 20px;
    margin-left: auto;
    outline: none;
    width: 20px;
  }
}

.banner-message {
  position: relative;
  background: var(--danger-color);
  padding: 27px 0 24px 0;
  border-radius: 4px;

  @include desktop {
    padding: 27px 0;
    margin-bottom: 27px;
  }

  &__content {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 22px;
  }

  &__text {
    text-align: left;
    font-family: Averta;
    font-size: $font-size-normal;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;

    a {
      color: $color-primary;
      font-size: $font-size-normal;
      font-weight: bold;
    }
  }

  & .close {
    display: none;
    background: url($message-close-icon);
    width: 24px;
    height: 24px;

    @include desktop {
      display: block;
      position: absolute;
      right: 27px;
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }
}
