.flash-message {
  background: var(--danger-color);
  padding: 27px 0 24px 0;
  position: relative;

  @include desktop {
    padding: 27px 0;
  }

  &--notice {
    color: $color-primary;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 22px;
  }

  &__text {
    text-align: left;
    font-family: Neue;
    font-size: $font-size-normal;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;

    a {
      color: $color-primary;
      font-size: $font-size-normal;
      font-weight: bold;
    }
  }

  &__close {
    display: none;
    background: url($message-close-icon);
    width: 24px;
    height: 24px;

    @include desktop {
      display: block;
      position: absolute;
      right: 27px;
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }
}

.flash-message--banner_message {
  background: var(--danger-color);
  padding: 27px 0 24px 0;
  border-radius: 4px;
  margin-bottom: 27px;
  position: relative;

  @include desktop {
    padding: 27px 0;
  }

  &--notice {
    color: $color-primary;
  }

  .flash-message__content {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 22px;
  }

  .flash-message__text {
    text-align: left;
    font-family: Neue;
    font-size: $font-size-normal;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;

    a {
      color: $color-primary;
      font-size: $font-size-normal;
      font-weight: bold;
    }
  }

  .flash-message__close {
    display: none;
    background: url($message-close-icon);
    width: 24px;
    height: 24px;
    @include desktop {
      display: block;
      position: absolute;
      right: 27px;
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }
}
