.label {
  border-radius: 38px;
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 12px;
  line-height: 21px;
  padding: 4px 14px;

  &.-danger {
    color: $color-white;
    background-color: var(--danger-color);
  }
}
