.forgot-password.-confirmation
  %h1.forgot-password__sub-heading
    We just sent you an email. Please follow the instructions in the email to access your account.
  = image_tag("message-sent.png",
    srcset: { "message-sent@2x.png" => "2x", "message-sent@3x.png" => "3x" })
