.employer-profile {
  padding-top: 68px;
  background-color: white;

  @include desktop-up {
    padding-top: 0px;
    grid-template-columns: auto;

    .page__main > :first-child:not([role="alert"]) {
      margin-top: 0px;
    }

    .sub-header {
      background-color: var(--bg-color);
    }
  }

  &__wrapper {
    @include desktop-up {
      display: flex;
      justify-content: center;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 50px;
      position: relative;
      top: -150px;
      max-width: 100%;
    }
  }

  &__right-section {
    @include desktop-up {
      width: 60%;
      max-width: 800px;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.04);
    }
  }

  &__hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include desktop-up {
      margin-right: 27px;
      width: 28%;
      max-width: 400px;
      height: 636px;
      border-radius: 6px;
      box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.04);
    }
  }

  section {
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;

    @include desktop-up {
      &:not(:last-child) > .employer-profile__details-wrapper {
        border-bottom: 1px solid var(--border-color);
      }

      .employer-profile__details-wrapper {
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 55px;
      }
    }

    @include tablet-down {
      padding-bottom: 55px;

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }

  &__name {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 14px;
  }

  &__location {
    font-size: 14px;
    color: var(--dark-grey-color);
    margin-bottom: 20px;
  }

  &__headline {
    font-size: 14px;
    margin-bottom: 35px;
  }

  &__image {
    width: 140px;
    height: 140px;
    border: 1px dashed #d4d2ce;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-bottom: 20px;
    overflow: hidden;

    @include desktop-up {
      margin-top: 40px;
    }
  }

  &__social-links {
    display: flex;
    justify-content: center;
  }

  &__buttons-group {
    width: 100%;
  }

  &__message-button {
    margin-bottom: 12px;
  }

  &__website-button {
    margin-bottom: 17px;
  }

  &__heading {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    padding-top: 40px;

    &.-work-experience, &.-skills {
      margin-bottom: 40px;
    }

    &.-work-preferences {
      margin-bottom: 35px;
    }
  }

  &__bio {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 45px;
  }

  &__role {
    margin-right: 12px;
    margin-bottom: 9px;
    display: inline-block;
  }

  &__work-experiences {
    display: flex;
    flex-direction: column;
  }

  &__work-experience {
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &__date {
      color: var(--dark-grey-color);
    }
  }
}
