.job-card {
  border: 1px solid $color-beige;
  border-radius: 4px;
  padding: 50px 26px 51px 21px;
  margin-bottom: 15px;

  display: grid;
  display: -ms-grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px auto auto;

  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 70px 28px auto;
}
