.choices {
  &__inner {
    border-radius: 4px;
    background-color: $color-concrete;
    border: solid 1px $color-beige;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $color-concrete;
    margin: 0;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    &.is-hidden {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    padding-left: 5px;
  }

  &__item {
    border-radius: 4px;
    border: solid 1px $color-beige;
    background-color: #ffffff;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    color: $color-dark-grey;
    line-height: 30px;
    min-width: 125px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;

    &--selectable {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    outline: none;
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 8px;
    padding-left: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACHSURBVEhL7Y5RCoAgEES9RHcs6rjdp3aohU1Ex9XADx8smuy8KUyGZZVZnisFdpGh2GUumVOGKcEOdpFBtogNlEpqdj8wQbdcyQma5UpK1E2uxMKucsWWdJeDXwusHKe9N5fEcnyn3lzkRM0ljMBdUhN0lRwyNQFbgizFJkP9zQt2kZkMRwg3JsJK5RshxGkAAAAASUVORK5CYII=);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
    text-indent: -9999px;
  }

  &__list--dropdown {
    display: none;
    margin: auto;
    border: none;
    &.is-active {
      display: block;
    }
  }

}
.choices-helper-text {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $color-brown-grey;
}
