$color-dark-grey: #222427;
$color-concrete: #f4f4f4;
$color-light-concrete: #f3f3f3;
$color-brown-grey: #9b9b9b;
$color-greyish: #9d9c9b;
$color-light-grey: #e2e3e4;
$color-dark-grey: #222427;
$color-silver: #d8d8d8;
$color-primary: #0a8c8d;
$color-white: #ffffff;
$color-tundora: #444444;
$color-beige: #d4d2ce;
$color-pale: #efede8;
