@import url('https://fonts.googleapis.com/css?family=Noto+Sans')

@font-face
  font-family: "arrow_right"
  src: font-url("icons/arrow_right.svg")

@font-face
  font-family: "arrow_left"
  src: font-url("icons/arrow_left.svg")
