@import 'variables_and_mixins'
@import 'fonts'

.side-nav
  margin-left: 50px

  div
    margin-top: 20px

  a
    color: $slate-gray

  .active-link
    color: $royal

  div:first-child
    margin-top: 0px

