.StripeElement {
  height: 46px;
  border-radius: 4px;
  background: $color-concrete;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 15px;
  max-width: 430px;

  & > div {
    line-height: 46px;
  }
}
