@import "variables_and_mixins"
@import "fonts"

.job-tags-list
  ul
    list-style-type: none
    margin-left: 8px
    margin-bottom: 42px

    li
      display: inline
      padding-right: 30px

      a
        color: $black
        font-size: 18px
        font-weight: bold
        line-height: 2.11


