@import "variables_and_mixins"
@import "fonts"

.types-and-roles-list
  select
    background: none
    border: none
    font-size: 18px
    color: $black
    font-weight: bold
    font-style: normal
    font-stretch: normal
    line-height: 2.11
    letter-spacing: normal
    text-align: left
    height: 38px
    padding: 0
    margin-bottom: 10px

    .arrow
      width: 0px
      height: 0px
      border-left: 12px solid transparent
      border-right: 12px solid transparent
      border-top: 112px solid $black
