$abbey: #474a50
$alabaster: #fafafa
$alabaster: #fbfbfb
$alto: #d8d8d8
$azure: #0d77f8
$black-squeeze: #edf4f8
$black: #000000
$black_squeeze: #edf4f8
$concrete: #f3f3f3
$dusty-gray: #9b9b9b
$gallery: #eaeaea
$gray: #828282
$iron: #e2e3e4
$loblolly: #bcc5ce
$orange: #f9b500
$oslo_gray: #8f9294
$peachy-pink: #ff8987
$pinkish-gray: #bfbfbf
$pomegranite: #f95225
$porcelain: #f5f6f7
$red: #ff5353
$regent-gray: #8d9ba3
$royal: #1e1695
$silver: #cacaca
$slate-gray: #7b8992
$tundora: #4a4a4a
$white: #fff
