.flash-message {
  background: var(--danger-color);
  padding: 27px 0 24px 0;

  @include desktop {
    padding: 27px 0;
  }

  &--notice {
    color: $color-primary;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 22px;
  }

  &__text {
    text-align: left;
    font-family: Averta;
    font-size: $font-size-normal;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-white;

    a {
      color: $color-primary;
      font-size: $font-size-normal;
      font-weight: bold;
    }
  }

  &__close {
    display: none;
    width: 24px;
    height: 24px;
    @include desktop {
      display: block;
      position: absolute;
      right: 0px;
    }
  }
}
