.button {
  font-size: 13px;
  color: var(--danger-color);
}

.icon {
  &::before {
    background-image: url(replace-svg-color($plus-icon, "FC520A"));
    background-position: -5px 4px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    content: "";
    height: 18px;
    width: 10px;
  }
}

.deleteButton {
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;

  &::before {
    background-image: url($delete-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    content: "";
    height: 21px;
    width: 19px;
  }
}
