%nav.nav
  .nav__container
    .nav__content.preview-profile-nav.-between
      = link_to "", back_button_href, class: "close-button -round -black", "aria-label": "Back button"
      %button.button.preview-profile-nav__button{ data:{ "micromodal-trigger": "send-message-modal" }} Send a message
