.flash-messages#flash-messages
  - if flash.any?
    - flash.each do |name, msg|
      - if msg.present?
        %div{ class: "flash-message flash-message--#{name}" }
          .flash-message__content
            .flash-message__text= msg.html_safe
            %button.flash-message__close
