- if object.errors.any?
  %div{ role:"alert", class:"alert -danger" }
    .alert__content
      %h2
        #{pluralize(object.errors.count, 'error')} prohibited
        this #{object.class.name} from being saved:
      %ul.alert__list
        - object.errors.full_messages.each do |msg|
          %li= msg
    %button{"data-dismiss":"alert", "aria-label":"Close", class:"close" }
      %span{"aria-hidden":true} &times