%header
  %nav.nav
    .nav__container
      .nav__content.-between.-padding-x
        = link_to main_app.employer_jobs_path do
          .close-button.-round.-black{ "aria-label": "back", role: "button" }
        .hide-desktop-down
          - if create_listing_page?
            %button.button.-outline-dark.-medium{ form: "new-listing-form", type: "submit" } Preview listing
          - elsif current_page?(edit_employer_job_path)
            %button.button.-outline-dark.-medium{ form: "edit-listing-form", type: "submit" } Preview listing
          - if employer_preview_job_path?
            .nav__actions
              - if @job.status != :published
                = link_to "Save for later",
                  employer_job_preview_path(@job),
                  method: :put,
                  class: "button -outline-dark"
                = link_to "Publish listing",
                  employer_job_posting_path(@job),
                  method: :put,
                  class: "button"
