.registration-page {
  @include desktop {
    width: 373px;
    margin: 108px auto auto auto;

    &__content {
      max-width: 612px;
    }

    &__heading {
      display: block;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      color: $color-tundora;
    }

    &__profile-form {
      display: block;
      width: 100%;
      // width: 612px;
    }

    &__work-experiences {
      margin-bottom: 30px;

      .button {
        width: 100%;
      }

      &__section {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
      }

      &--inline {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }

    &__form-field {
      width: 100%;
      display: inline-block;
      margin-top: 0;
      box-sizing: content-box;

      &--half {
        width: calc(50% - 13px);
        margin-right: 21px;
        &:nth-child(even) {
          padding-right: 0;
          margin-right: 0;
        }
      }

      &--fourth {
        width: 25%;
        &:not(:last-child) {
          margin-right: 10px;
          // padding-right: 10px;
        }
      }

      label {
        display: block;
        &[for="user_user_profile_attributes_headline"] {
          margin-top: 31px;
        }
        &[for="user_user_profile_attributes_bio"] {
          margin-top: 38px;
        }
        &[for="user_user_profile_attributes_location"] {
          margin-top: 36px;
        }
      }
    }

    &--link-section {
      &__item {
        width: 100%;
      }

      & + .button {
        margin-top: 60px;
      }
    }
  }
}
