@import "colors";

.nav {
  .menu-toggle {
    width: 25px;
    height: 25px;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-light-concrete;
  background-color: $color-white;
  height: 57px;
  padding-left: 15px;
  padding-right: 15px;

  &--logged-out {
    justify-content: center;
  }

  &__search {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 40px;

    &__item {
      line-height: 40px;
      &:not(:last-child) {
        margin-right: 40px;
      }

      & > a {
        height: 20px;
        line-height: 20px;
        font-size: $font-size-medium;
        font-weight: 600;
        color: #000000;
      }

      &__profile {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px dashed $color-beige;
        background-color: $color-concrete;
        text-align: center;
      }
    }
  }

  &__offcanvas {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid $color-light-concrete;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    @media screen and (max-height: 450px) {
      padding-top: 15px;
    }
    &__menu {
      height: 100%;

      &__item {
        & > .close {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
          &:hover {
            cursor: pointer;
          }
        }

        & > a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
          @media screen and (max-height: 450px) {
            font-size: $font-size-medium;
          }
        }
      }
    }
  }
}
