%nav.nav{:class => ('nav--logged-out' if current_user.blank? || current_user.registering?)}
  - if !current_user.blank?
    %button.menu-toggle#menuToggler
      = embedded_svg('menu.svg')

  = link_to embedded_svg('logo.svg'),
    main_app.root_path,
    class: 'nav--brand'

  - if !current_user.blank?
    = render 'layouts/nav_search'
    = render 'layouts/nav_links'
