- if current_user.employer?
  %ul.nav__menu
    %li.nav__item.mr-0.-centered
      = link_to main_app.new_employer_job_path, class: "button -outline nav__button -plus-icon" do
        %span.hide-desktop-down Create new listing
        %span.hide-desktop-up  New listing
- elsif current_user.talent?
  %ul.nav__menu
    %li.nav__item.mr-0.-centered
      = link_to main_app.new_profile_subscription_path, class: "button -outline" do
        %span Hire talent
