.search-form
  = form_tag jobs_path, method: "get" do
    .search-field
      = text_field_tag :search,
        params[:search],
        placeholder: "Search"
      %span.search-icon &#9906;
    = submit_tag "Search", id: "search-submit"
