.menu
  %a{ href: favorite_jobs_path,
    class: "#{"active-link" if saved_jobs_page?}" }
    Saved
  %a{ href: applied_fors_path,
    class: "#{"active-link" if applied_fors_page?}" }
    Applied
  %a{ href: edit_user_registration_path,
    class: "#{"active-link" if edit_profile_page?}" }
    Account
