.nav__search#search-form
  = form_tag jobs_path, method: "get" do
    .nav__search__field
      %span.search-icon &#9906;
      = text_field_tag :search,
        params[:search],
        placeholder: "Search"
      
    = submit_tag "Search", id: "search-submit"
