.small-9.columns.text-right.signed-out-text
  - if @login_path
    Don"t have an account?
    = link_to "Sign up", new_user_registration_path
  - else
    Already have an account?
    = link_to "Sign in", new_user_session_path
