.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  height: 46px;
  line-height: 46px;
  width: 100%;
  font-family: $font-primary;
  font-size: $font-size-normal;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  background-color: $color-white;
  -webkit-appearance: none;

  &--danger {
    background: $color-danger;
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}
